
body{
  background-color: rgb(245, 245, 248);
  margin-top: 90px;
  background-image: url(assets/st.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  
}
.nav{
    position: absolute;
   
  }
  ul{
    list-style: none;
    display: flex;
    gap: 100px;
    padding-left: 20px;
 font-size: larger;
 margin-top: 70px;
  }
  a{
    text-decoration: none;
    color: black;
    font-size: larger;

  }

  
  
  
.cssbuttons-io-button {
  background: #f31707;
  color: white;
  font-family: inherit;
  padding: 0.35em;
  padding-left: 1.2em;
  font-size: 17px;
  font-weight: 500;
  border-radius: 0.9em;
  border: none;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 1.6em -0.6em #e21f11;
  overflow: hidden;
  position: relative;
  height: 2.8em;
  padding-right: 3.3em;
  cursor: pointer;
}

.cssbuttons-io-button .icon {
  background: rgb(0, 0, 0);
  margin-left: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2em;
  width: 2.2em;
  border-radius: 0.7em;
  box-shadow: 0.1em 0.1em 0.6em 0.2em #7b52b9;
  right: 0.3em;
  transition: all 0.3s;
}

.cssbuttons-io-button:hover .icon {
  width: calc(100% - 0.6em);
}

.cssbuttons-io-button .icon svg {
  width: 1.1em;
  transition: transform 0.3s;
  color: #7b52b9;
}

.cssbuttons-io-button:hover .icon svg {
  transform: translateX(0.1em);
}

.cssbuttons-io-button:active .icon {
  transform: scale(0.95);
}

  /*BODYYY*/
  .contain{
    margin-left: 400px;
    margin-top: 130px;
    font-size: xx-large;
    color: rgb(248, 241, 241);
    font-style: italic;
  }
  .contain2{
    color: white;
    font-size: x-large;
    margin-left: 150px;
  }



  .problem-1{
color: rgb(250, 240, 240);
margin-top: 100px;
margin-left: 320px;
font-size: x-large;

  }
  .problem-2{
margin-left: 100px;
font-size: xx-large;
color: rgb(0, 0, 0);
  }
  .problem-2 h5{
margin-left: 45px;
margin-top: 50px;
  }
  .problem-3{
    font-size: x-large;
    color: rgb(0, 0, 0);
    margin-left: 350px;
    margin-top: 20px;
  }
  .bbB{
    font-size: larger;
    background-color: darkgoldenrod;
    box-shadow:5px 5px rgb(8, 8, 8) ;
    margin-left: 520px;
  }
.logg{
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 70px;
  height: 250px;
}
.contain3{
color: black;
margin-top: 150px;
margin-left: 400px;
font-size: x-large;

}
.contain33{
  margin-left: 30px;
  font-size: x-large;
}
.contain4{
  font-size: x-large;
 margin-left:400px ;

}
.contain4 label{
margin-left: 150px;
font-size: larger;

}
.contain4 input{
  font-size: larger;
  border-radius: 10px;
}
.bb{
  font-size: x-large;
  box-shadow: 3px 3px rgb(0, 0, 0);
  border-radius: 10px;
}


/*body*/
  .cont{
  display: flex;
  justify-content: space-between;
  margin-top:50px;
  margin-right: 37px;
  }
  .container-co2{
  

    background-color: white;
      padding: 20px;
      width: 400px;
      height: 150px;
      margin-top: 70px;
      margin-left: 50px;
      
  }
  .more{
    font-size: large;
    color: blue;
    margin-top: 40px;
    margin-left: 30px;
  }
  .more-2{
    font-size: large;
    color: blue;
    margin-top: 5px;
    margin-left: 30px;
  }
  .more-3{
    font-size: large;
    color: blue;
    margin-top: 70px;
    margin-left: 30px;
  }
  .container-co3{
    
    background-color: white;
      padding: 20px;
      width: 400px;
      height: 150px;
      margin-top: 70px;
      margin-left: 50px;
     
  }
  .container-co4{
   

      background-color: white;
        padding: 20px;
        width: 400px;
        height: 150px;
        margin-top: 70px;
        margin-left: 50px;
   
 
  }
  .footer{

    background-color: rgb(0, 0, 0);
    color: white;
    padding: 3rem 0 1rem;
    margin-top: 10rem;
    
}
.footer-content{
  margin:0 auto;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  flex-wrap: wrap;
  padding: 0 20px ;
}
.footer-section{
  flex: 1rem;
  min-width: 250px;
}
.footer-section h4{
  margin-bottom: 1rem;
  color: #f1f1f1;
}
.footer-section  h4:hover{
  color: red;
}
.support{
  background-color: rgb(56, 56, 233);
  font-size: large;
}